.nav a {
    font-size: 20px;
    font-family: Raleway;
}

.avatar img {
    margin-top: 30px;
    height: 350px;
    width: auto;
    position: relative;
    overflow: hidden;
}

.resume {
    margin-top: 60px;
    width: auto;
    position: relative;
    overflow: hidden;
    
}

@media all and (max-width: 900px) {
    .content {  
        font-family: Raleway;
    }
    .navbar-fixed-top {
        position: relative !important;
        top: auto !important;
    }    
}

@media all and (min-width: 900px) {
    .content {  
        margin-top: 60px;
        font-family: Raleway;
    }
}

.courses p, .courses a, .courses li {
font-size: 16px;
}
