.nav a {
    font-size: 20px;
    font-family: Raleway;
}

.avatar img {
    margin-top: 60px;
    height: 350px;
    width: auto;
    position: relative;
    overflow: hidden;
}

.avatar h1 {
    margin-bottom: 20px;
}

.resume {
    margin-top: 60px;
    width: auto;
    position: relative;
    overflow: hidden;
    
}

.content {  
    margin-top: 50px;
    font-family: Raleway;
}


.courses p, .courses a, .courses li {
font-size: 16px;
}
